.recipe-card {
    width: 300px;
    height: 400px;
    padding: 1vw;
    margin: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.872);
    border-radius: 20px;
    background-color: #c9c9c9 !important;
}

.recipe-card card {
    background-color: #000000;
}


.recipe-card-title {
    text-align: center;
    font-size: 1.2vw;
}

.new-recipe-card-img {
    margin-bottom: 1vw;
}

.recipe-card-img {
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.recipe-icon {
    width: 1.5vw;
    height: 1.5vw;
}

.recipe-card-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-card-button {
    width: 3vw;
    height: 3vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.category-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card {
    width: 80%;
    height: 250px;
    max-height: 30%;
    margin: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.872);
    border-radius: 20px;
    background-color: #c9c9c9 !important;
}

.category-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue-card{
    text-align: center;
    background-color: gray;
    border: 0;
    
}