.tab {
    display: inline-block;
    width: 20px; /* adjust this value as needed */
  }

.app-header {
    margin: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-title {
    font-size: 3vw;
}

.app-header button {
    flex-grow: 1;
    margin: 20px;
}

.liked-recipe-container {
    margin: 20px;
    /* width: calc(100% - 40px); */
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
}

.liked-recipes-container div div{
    background-color: transparent;
    margin: 30px;
}
.liked-recipe-header {
    margin: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */

}

.rp-recipe-name {
    margin-top:15px;
    margin-bottom: 0px;   
}

.liked-recipe-img {
    border-radius: 20px;
    margin: 15px;
    width: 100%;
    max-width: 300px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;

}

.recipe-info-footer {
    text-align: right;
  }

.like-btn {
    width: 60px;
}

.my-liked-recipe-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.add-button-container {
    margin: 2vw;
    margin-top: 3vw;
}
