.login-body {
    height: 100vh;
    background-image: url(../components/meals.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    /* margin-top: 50%; */
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.872);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    font-family: Agrandir, sans-serif;
}
.form-box h3 {
    font-size: 1.5em;
    color: #162938;
}

.logo {
    margin: 5px
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.input {
    width: 250px;
    height: 30px;
    font-size: 15px;
}
.input-container {
    position: relative;
    margin: 8px;
    width: 100%;
    height: 40px;
    border-bottom: 1.7px solid #162938;
}

.input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 550;
    padding: 0 35px 0 5px;

}

.input-container .icon {
    position: absolute;
    right: 8px;
    line-height: 57px;

}
.login-signup {
    font-size: .9em;
    font-weight: 400;
    margin: 10px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: 600;
    color: #48a531f8;
    text-decoration: underline;
    cursor: pointer;
}
  
.link-button:hover {
    text-decoration: none;
}

.submit-button {
    margin-top: 10px;
    width: 100px;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid black;
}

.submit-button:hover {
    background-color: #4fa43af8;
}

.redirect {
    background-color: white;
    color: #ECA869;
    border: none;
    margin: 15px;
    font-size: 15px;
}

.invalid-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -15px;
}

.invalid-login {
    color: red;
    font-style: italic;
    font-size: 14px;
}