.profile-container {
    margin: auto 35px;

}

.add-button#profile {
    margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 0 !important; 
}

.row {
    display: flex;
    flex-wrap: nowrap;

  }

.col-5#user-img {
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 5px; 
}

.col-7#user-info {
    justify-content: center;
    background-color: #ece9e9;
    border-radius: 5px;

}

.col-9#exp-ttl{
    align-items: center;
    justify-content: center;
    display: flex;
    border-right: solid;
}

.col-3#exp-lvl {
    align-items: center;
    justify-content: center;
    display: flex;

}

.col-4#exp-btn{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-pic {
    background-color: #D9D9D9;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.pic-resize {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.profile-name {
    text-align: center;
    margin-top: 30px;

}

.upload-picture-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 60%;
    color: black;
    border-color: green !important;
    width: auto;
    border-radius: 10px;
    background-color: transparent;
}
.upload-picture{
    background-color: #c2deb361;
    margin: 15px 0px;
}

.file-upload {
    margin-bottom: 30px;
}

.exp-lvl-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;

}
.profile-setting {
    display: flex;
    width: 700px;
    height: 75px;
    background-color: #d9d9d9;
    border-radius: 20px;
}

.setting-header {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 22px;
    margin-right: 12px;
    padding: 10px;
}

.setting {
    /* width: auto;
    height: 25px;
    background-color: white;
    border-radius: 20px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    padding-right: 12px;
    margin-left: 45%;
    padding-left: 12px; */
    display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 25px;
  background-color: white;
  border-radius: 20px;
  margin-top: 22px;
  padding-right: 12px;
  margin-left: 45%;
  padding-left: 12px;
}

.exp-btn{
    display: flex;
    margin: 3%;
    color: black;
    border-color: green;
    width: auto;
    padding: 1px 5px !important;
    border-radius: 15px;
    background-color: transparent;

}

