.tab {
    display: inline-block;
    width: 20px; /* adjust this value as needed */
  }

.app-header {
    margin: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app-header button {
    flex-grow: 1;
    margin: 20px;
}

.section-header#recipe-page {
    margin: 0%;
    margin-top: 30px;
    font-size: 24px !important;
}
.recipe-container {
    margin: 0 45px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.recipe-header {
    height: 40%;
    position: relative;
    overflow: hidden;
}

.recipe-sub-header-container {
    background: #4bc12e2b;
    border-radius: 20px;

}
 .recipe-sub-header {
    margin-top: 20px;
    padding-bottom: 20px;
    font-family:  "wild_mango","Baskerville","Hoefler Text",Times,serif;
    color: black;
    border: 2px solid #45C126;
    border-bottom: none;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    /* background: #4bc12e2b; */

}

.rp-recipe-name {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.1;
}

.recipe-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 3px;
    margin-left: 0px;
}

.recipe-total-time {
    margin-top: 0.5px;
    font-size: 1.5vw;
    padding: 1vw;
    color: rgb(0, 0, 0);
}

.recipe-ingredients {
    margin-bottom: 5vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1vw;
    background-color: #bec6bc51;
}

.recipe-steps {
    margin-bottom: 5vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1vw;
    background-color: #bec6bc51;


}

.recipe-steps ul {
    list-style-type: decimal;
    list-style-position: inside;

}

.page-sub-header {
    font-size: 30px;

    font-weight: 600;
}

li::marker {
    vertical-align: top;
    margin-right: 0.5em;
  }

ul {
    list-style-type: none;
}

ul#ingredients {
    list-style-type: disc;

}

li {
    
    margin-bottom: 5px;
  }
  
input[type="checkbox"] {
    margin-right: 5px;
}

.cat-recipe-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    margin-left: 4vw;
}

.cat-recipe-cards {
    display: flex;
    flex-wrap: wrap;
}
.recipe-card-button-container .recipe-card-button {
    color: black;
    border-color: green;
    display: flex;
    width: auto;
    padding: 1px 15px !important;
    border-width: 2px;
    margin-right: 10px;
}

.recipe-card-button-container > * {
    margin-right: -15%;
  }

.recipe-card-button-container .recipe-card-button:hover {
    background-color: #45C126;
    color: #FFF; 
   
  }

  