.tab {
    display: inline-block;
    width: 20px; /* adjust this value as needed */
  }

.app-header {
    margin: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.app-header button {
    flex-grow: 1;
    margin: 20px;
}

.section-header#recipe-page {
    margin: 0%;
    margin-top: 30px;
    font-size: 24px !important;
}
.recipe-container {
    /* position: relative; */
    margin: 0 45px;
    /* width: calc(100% - 40px); */
    align-items: center;
    justify-content: center;
    /* background-color: #F8F0E3; */
    border-radius: 20px;
}

/* .recipes-container div div{
    background-color: transparent;
    margin: 30px;
} */

.recipe-header {
    height: 40%;
    position: relative;
    overflow: hidden;
}
 .recipe-sub-header {
    /* position: absolute; */
    margin-top: 20px;
    padding-bottom: 20px;
    font-family:  "wild_mango","Baskerville","Hoefler Text",Times,serif;
    color: black;
    border: 2px solid #45C126;
    border-bottom: none;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: #4bc12e2b;

}
/* .recipe-sub-header {
    position: absolute;
    width: 40vw;
    height: 15vw;
    position: absolute;
    top: 25vw;
    bottom: 0;
    left: 55vw;
    right: 0;
    padding: 1.5vw;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.872);
    border-radius: 20px;
    font-family:  "wild_mango","Baskerville","Hoefler Text",Times,serif;

} */

.rp-recipe-name {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.1;
}

.recipe-img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border-radius: 3px;
    margin-left: 0px;
}

.recipe-total-time {
    margin-top: 0.5px;
    font-size: 1.5vw;
    padding: 1vw;
    color: rgb(0, 0, 0);
}

.recipe-ingredients {
    margin-bottom: 5vw;
    /* margin-top: 0; */
    text-align: left;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* width: 30vw; */
    padding: 1vw;
    background-color: #bec6bc51;
}

.recipe-steps {
    /* margin: 5vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    width: 80vw;
    padding: 1vw; */
    margin-bottom: 5vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* width: 30vw; */
    padding: 1vw;
    background-color: #bec6bc51;


}

.recipe-steps ul {
    list-style-type: decimal;
    list-style-position: inside;

}

.page-sub-header {
    font-size: 30px;

    font-weight: 600;
}

li::marker {
    vertical-align: top;
    margin-right: 0.5em;
  }

ul {
    list-style-type: none;
}

ul#ingredients {
    list-style-type: disc;

}

li {
    
    margin-bottom: 5px;
  }
  
input[type="checkbox"] {
    margin-right: 5px;
}

.cat-recipe-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4vw;
    margin-left: 4vw;
}

.cat-recipe-cards {
    display: flex;
    flex-wrap: wrap;
}
.recipe-card-button-container {

}
.recipe-card-button-container .recipe-card-button {
    color: black;
    border-color: green;
    display: flex;
    width: auto;
    padding: 1px 15px !important;

}

.recipe-card-button-container .recipe-card-button:hover {
    background-color: #45C126; /* Change this to the desired hover color */
    color: #FFF; /* Change this to the desired hover text color */
    /* Add any other styles you want to apply when the button is hovered over */
  }